<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Employee</title>

</head>
<body>
  <h2>Employee Directory</h2>
  <hr>
  <h3>Add Employee Form</h3>

  <form>
    <input type="text" placeholder="First Name" />
    <br><br>
    <input type="text" placeholder="Last Name" />
    <br><br>
    <input type="text" placeholder="Email" />
    <br><br>
    <button type="submit">Add</button>
  </form>

  <hr>
  <button>
    <a href="">
      Back to Main Page
    </a>
  </button>

</body>
</html>