<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Employee</title>

</head>
<body>
  <h2>Employee Directory</h2>
  <hr>
  <h3>Add Employee Form</h3>

  <form th:action="@{/processAddEmployeeForm}" th:object="${employee}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <input type="text" placeholder="First Name" th:field="*{firstName}"/>
    <br><br>
    <input type="text" placeholder="Last Name" th:field="*{lastName}"/>
    <br><br>
    <input type="text" placeholder="Email" th:field="*{email}"/>
    <br><br>
    <button type="submit">Add</button>
  </form>

  <hr>
  <button>
    <a th:href="@{/}">
      Back to Main Page
    </a>
  </button>

</body>
</html>