<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>

  <link rel="stylesheet" href="/main.css">

</head>
<body>

  <h2>Employee Directory</h2>
  <hr>

  <button>
    <a href="">
      Add Employee
    </a>
  </button>

  <br><br>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>1</td>
      <td>Robert</td>
      <td>Johnson</td>
      <td>rob.johnson@gmail.com</td>
      <td>
        <button>
          <a href="">
            Update
          </a>
        </button>
        <button>
          <a href="">
            Delete
          </a>
        </button>
      </td>
    </tr>

    <tr>
      <td>1</td>
      <td>Robert</td>
      <td>Johnson</td>
      <td>rob.johnson@gmail.com</td>
      <td>
        <button>
          <a href="">
            Update
          </a>
        </button>
        <button>
          <a href="">
            Delete
          </a>
        </button>
      </td>
    </tr>
    </tbody>

  </table>
</body>
</html>